html,
body,
#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: blue;
	text-decoration: underline;
}

li {
	list-style-type: none;
}

.locationsList {
	font-family: Roboto;
	font-size: 1em;
	font-weight: 300;
	margin-left: auto;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 95vw;
	z-index: 100;
	top: 2%;
	display: inline-block;
	position: absolute;
	box-shadow: 0 0 0 0;
}

.hoverOnMap {
	margin-top: 12px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	/*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);*/
	left: 3%;
}

.mySearchBox {
	background-color: #fff;
	font-family: Roboto;
	font-size: 1em;
	font-weight: 300;
	margin-left: auto;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 95vw;
	z-index: 100;
	top: 2%;
	display: inline-block;
	position: absolute;
}

/* FROM CODEPEN LINK FOR CSS TABS*/

* {
/*	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;*/
}

body {
	text-align: left;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tabs {
	float: left;
	list-style: none;
	position: relative;
	margin: 0 0 10 0;
	text-align: left;
}

.tabs li {
	float: left;
	display: block;
}

.tabs input[type="radio"] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.tabs label {
	display: block;
	padding: 5px 7px;
	border-radius: 2px 2px 0 0;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	background: white;
	color: black;
	cursor: pointer;
	position: relative;
	top: 4px;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.tabs label:hover {
	background: #0082F6;
}

.tabs .tab-content {
	z-index: 2;
	display: none;
	overflow: hidden;
	font-size: 1em;
	line-height: 25px;
	position: absolute;
	left: 0;
	color: black;
	background: white;
}

.tabs [id^="tab"]:checked + label {
	top: 0;
	padding-top: 17px;
	background: #0082F6;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
	display: block;
}

/* infobox uses ID */
.infobox {
	border:2px solid black;
	margin-top: 8px;
	background:#333;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: .5em 1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow:0 -1px #000000;
	-webkit-box-shadow: 0 0  8px #000;
	box-shadow: 0 0 8px #000;
}

/* for star rating system*/
span.stars {
	display: inline-block;
	background: url(stars.png) 0 -16px repeat-x;
	width: 10px;
	height: 16px;
}