html,
body,
#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: blue;
	text-decoration: underline;
}

li {
	list-style-type: none;
}

.locationsList {
	font: 300 1em Roboto;
	/*font: font-style font-variant font-weight font-size/line-height font-family;*/
	margin: 0 0 0 auto;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 95vw;
	z-index: 100;
	top: 2%;
	display: inline-block;
	position: absolute;
	box-shadow: 0 0 0 0;
}

.hoverOnMap {
	/*margin-top: 12px;*/
	margin: 12px 0 0 0;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	left: 3%;
}

.mySearchBox {
	background-color: #fff;
	/*font: 300 1em Roboto;*/
/*	font-family: Roboto;
	font-size: 1em;
	font-weight: 300;*/
	margin: 0 0 0 auto;
	/*margin-left: auto;*/
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 95vw;
	z-index: 100;
	top: 2%;
	display: inline-block;
	position: absolute;
}

/* FROM CODEPEN LINK FOR CSS TABS*/

body {
	text-align: left;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tabs {
	float: left;
	list-style: none;
	position: relative;
	margin: 0 0 10px 0;
	text-align: left;
}

.tabs li {
	float: left;
	display: block;
}

.tabs input[type="radio"] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.tabs label {
	display: block;
	padding: 5px 7px;
	border-radius: 2px 2px 0 0;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	background: white;
	color: black;
	cursor: pointer;
	position: relative;
	top: 4px;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.tabs label:hover {
	background: #0082f6;
}

.tabs .tab-content {
	z-index: 2;
	display: none;
	overflow: hidden;
	font-size: 1em;
	line-height: 25px;
	position: absolute;
	left: 0;
	color: black;
	background: white;
}

.tabs [id^="tab"]:checked + label {
	top: 0;
	padding: 17px 0 0 0;
	background: #0082f6;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
	display: block;
}

.infobox {
	border: 2px solid black;
	margin: 8px 0 0 0;
	background: #333;
	color: #fff;
	/*font-family: Arial, Helvetica, sans-serif;
	font-size:12px;*/
	font: 12px Arial, Helvetica, sans-serif;
		/*font: font-style font-variant font-weight font-size/line-height font-family;*/
	padding: 0.5em 1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 0 -1px #000;
	-webkit-box-shadow: 0 0  8px #000;
	box-shadow: 0 0 8px #000;
}

/* for star rating system*/

span.stars, span.stars span {
    display: inline-block;
    background: url(stars.png) 0 -16px repeat-x;
    width: 10px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}